@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 249 100% 8%;
    --foreground: 0 0% 100%;
    
    --card: 244 100% 6%;
    --card-foreground: 0 0% 100%;
    
    --popover: 244 100% 6%;
    --popover-foreground: 0 0% 100%;
    
    --sidebar-background: 249 100% 10%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 288 84% 24%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 307 92% 19%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 272 30% 30%;
    --sidebar-ring: 307 92% 19%;
    
    --primary: 272 100% 64%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 252 41% 13%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 270 10% 40%;
    --muted-foreground: 0 0% 70%;
    
    --accent: 252 100% 64%;
    --accent-foreground: 0 0% 100%;
    
    --destructive: 0 91% 71%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 270 20% 25%;
    --input: 270 20% 20%;
    --ring: 270 100% 64%;
    
    --chart-1: 272 100% 64%;
    --chart-2: 0 71% 61%;
    --chart-3: 209 100% 61%;
    --chart-4: 326 100% 62%;
    --chart-5: 40 100% 50%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-[#070028] text-foreground;
  }
}

@layer components {
  .gradient-bg-purple {
    @apply bg-gradient-to-br from-[#5D0A72] to-[#5E0453];
  }
  
  .gradient-bg-orange {
    @apply bg-gradient-to-br from-[#FF5757] to-[#FFB800];
  }
  
  .gradient-bg-blue {
    @apply bg-gradient-to-br from-[#0A004A] to-[#3DB9FF];
  }
  
  .gradient-bg-purple-dark {
    @apply bg-gradient-to-br from-[#3E0F23] to-[#5D0A72];
  }
  
  .gradient-bg-background {
    @apply bg-gradient-to-br from-[#070028] to-[#080035];
  }
  
  .text-gradient-cyan-purple {
    @apply bg-gradient-to-r from-[#3DB9FF] to-[#9747FF] text-transparent bg-clip-text;
  }
  
  .text-gradient-purple-pink {
    @apply bg-gradient-to-r from-[#FF57E6] to-[#9747FF] text-transparent bg-clip-text;
  }
  
  .card-glow {
    box-shadow: 0 0 25px rgba(93, 10, 114, 0.15); /* Indigo color glow */
  }
  
  .card-glow-orange {
    box-shadow: 0 0 25px rgba(255, 87, 87, 0.15);
  }
  
  .card-glow-blue {
    box-shadow: 0 0 25px rgba(10, 0, 74, 0.15); /* Federal Blue glow */
  }
  
  .active-nav {
    @apply relative bg-opacity-20 bg-[#5D0A72] rounded-lg;
  }
  
  .active-nav::before {
    content: '';
    @apply absolute left-0 top-0 h-full w-1 rounded-r-sm bg-gradient-to-b from-[#5D0A72] to-[#5E0453];
  }
}
